@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
/* index.css */

/* --- Keyframes para que el corazón caiga --- */
@keyframes fall {
  0% {
    transform: translateY(-10%);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

/* --- Clase utilitaria que aplica la animación de caída --- */
.animate-fall {
  animation: fall 4s linear forwards;
}

/* Opcional: si quieres que no interfiera con clicks, añádelo a un contenedor */
.pointer-events-none {
  pointer-events: none;
}
